@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5d04e;
    display: grid;
    font-family: 'Figtree', sans-serif;
    margin-top: 50px;    
    place-content: center;
    
}

.card {
    border-radius: 12px;
    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-content: start;
    background-color: white;
    width: 280px;
    height: 400px;
}

.image {
    border-radius: 8px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 255px;   
}

.tag {
    background-color: #f5d04e;
    width: 72px;
    margin-top: 10px;
    margin-left: 12px;
    padding: 4px;
    border-radius: 5px;
}

.tag_text {
    font-family: "Figtree";
    font-weight: 900;
    font-size: 11px;
    text-align: center;
}

.card__date {
    margin-top: 10px;
    margin-left: 12px;
}

.card__date p {
    color: gray;
    font-weight: 700;
    font-size: 12px;

}

.card__header {
    margin-top: 12px;
    margin-left: 12px;
}

.card__header h1 {
    font-size: 18px;
    font-weight: 800;
}

.card__content {
    margin-top: 10px;
}

.content {
    color: gray;
    font-size: 12px;
    text-align:left;
    margin-left: 12px;
    line-height: 18px;
}

.card__footer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 12px;
    gap: 10px;
}

.card__footer img {
    width: 30px;
    height: 30px;
}

.card__footer h4 {
    font-size: 12px;
}
